include ./_head.pug
include ./_nav.pug
include ./_header.pug
include ./_footer.pug

doctype html
html(lang=language)
  head
    block head
      +head()

  body
    block nav
      +nav()
    .page

      block header
        +header()

      main
        .wrapper
          block content

      block footer
        +footer()
