extends ../includes/layout.pug

block content
  h1 Pug - node template engine
  article
    if youAreUsingPug
      p You are amazing
    else
      p Get on it! :D
    p
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.
      a(href="/search") Go to search
